@mixin widthPixel($width: 400px) {
    width: $width;
    margin: $MarginAuto
}
@mixin borderbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin inheritbox {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
%clearfix {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}
@mixin bgheader {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $dark_blue;
}
@mixin equalSpaced( $num_of_cols, $gutter, $width:100%  ){
    width: ( $width - ( $gutter * ($num_of_cols - 1) ) ) / $num_of_cols;
    margin-left: $gutter;
    float: left;
    // Remove Spacing from First Child
    &:first-child{
        margin-left: 0;
    }
}